/* FUENTES Y RESETEO*/
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:wght@700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Balsamiq Sans", sans-serif;
}

body {
  margin: 0;
  background-image: url("imagenes/fondo-rosa-pastel.avif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* NAVBAR*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff7f5;
  border-bottom: 2px solid #e7d0c3;
  padding: 0.8rem 1.4rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* LOGO */
.logo-text {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #b9808a;
  margin: 0;
}

.logo-text:hover {
  color: #9c6a74;
  transform: scale(1.2);
}

/* ICONOS */
.navbar .material-symbols-outlined {
  font-size: 2rem;
  color: #94807d;
  cursor: pointer;
  transition: 0.2s;
}
.navbar .material-symbols-outlined:hover {
  transform: scale(1.15);
  color: #b9808a;
}

/* MENU DESKTOP */
.nav-desktop {
  display: none;
  gap: 2rem;
}

.nav-desktop a {
  text-decoration: none;
  color: #94807d;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
}
.nav-desktop a:hover {
  color: #b9808a;
  transform: scale(1.2);
}
/* NOTIFICACIÓN CARRITO - PUNTITO ROJO */
.carrito-wrapper {
  position: relative;
  display: inline-flex;
}

.carrito-notificacion {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 12px;
  height: 12px;
  background-color: #ff4b4b;
  border-radius: 50%;
  border: 2px solid #fff7f5;
  display: none;
}

/* MODAL DE CARRITO */

.modal-carrito {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-contenido {
  background: #fff7f5;
  padding: 2.5rem 2rem;
  border-radius: 22px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: modalFade 0.35s ease;
  position: relative;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.cerrar-modal {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
  color: #b9808a;
  transition: 0.2s ease;
}

.cerrar-modal:hover {
  transform: scale(1.2);
  color: #9c6a74;
}

.cerrar-btn {
  background: #9c6a74;
  color: #fff7f5;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 5px 18px rgba(207, 138, 141, 0.3);
}

.cerrar-btn:hover {
  background: #9c6a74;
  transform: scale(1.2);
}
/* LOADER DEL BOTÓN */
.boton-cargando {
  position: relative;
  pointer-events: none;
  opacity: 0.7;
}

.boton-cargando::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: girar 0.6s linear infinite;
}

@keyframes girar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* HERO*/

.hero {
  height: 550px;
  padding: 0 2rem;
  color: #fff7f5;
  background-image: url("imagenes/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 4s ease, filter 3s ease;
}

.hero:hover {
  transform: scale(1.05);
  filter: brightness(1.02);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(245, 233, 241, 0.25) 100%
  );
  z-index: 2;
}

.hero-contenido {
  position: relative;
  z-index: 2;
  margin-top: 40px;
}

.hero p.lead {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: 900;
  color: #fff7f5;
  text-align: center;
  text-shadow: 0 8px 22px rgba(0, 0, 0, 0.9);

  margin-left: auto;
  margin-right: auto;
}

/* BIENVENIDA */

.bienvenida {
  text-align: center;
  max-width: 900px;
  margin: 200px auto 100px;
  padding: 0 1.5rem;
}

.bienvenida p {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #6e6765;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

/* PRODUCTOS */

#productos {
  scroll-margin-top: 120px;
  margin-bottom: 20px;
}

.productos-titulo {
  text-align: center;
  font-size: 3rem;
  color: #b9808a;
  margin-bottom: 70px;
  font-weight: 900;
}

/* PRODUCTOS (CARDS + SLIDER)*/

.card-list .card-item {
  border-radius: 18px;
  padding: 8px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
  height: 400px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
}

.card-list .card-item:hover {
  transform: translateY(-10px);
}

/* IMAGEN DENTRO DE LA CARD */

.card-list .card-item .prod-img {
  height: 260px;
  object-fit: cover;
  border-radius: 14%;
  margin: 10px 0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

/* TÍTULO */

.card-list .card-item .produc {
  font-size: 2rem;
  font-weight: 900;
  /* color: #fff7f5; */
  color: white;
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

/* PRECIO */

.card-list .card-item .price {
  font-size: 1.6rem;
  color: white;
  font-weight: 700;
  margin: 5px;
  text-align: center;

  text-shadow: 1px 1px 2px black;
}

/* BOTÓN */

.card-list .card-item .add-to-cart {
  padding: 10px 15px;
  border-radius: 18px;
  background-color: #b9808a;
  color: #fff7f5;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  position: relative;
  z-index: 5;
}

.card-list .card-item .add-to-cart:hover {
  background-color: #9c6a74;
  transform: scale(1.2);
}
/* Capa para la imagen de fondo SIN recibir clics */
.card-item .bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  z-index: 0;
  pointer-events: none; /* Importante: evita clicks fantasma */
}

/* Todo el contenido encima de la imagen */
.card-item > *:not(.bg) {
  position: relative;
  z-index: 2;
}

/* SWIPER */

.swiper-pagination-bullet {
  background: #94807d;
  opacity: 0.7;
  height: 35px;
  width: 35px;
}

.swiper-slide-button {
  color: #94807d;
  margin-top: -50px;
  transition: color 0.2s ease;
}

.swiper-slide-button:hover {
  color: #9c6a74;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto 120px;
  padding: 0 10px;
}

.swiper-pagination {
  margin-top: 10px;
}

/* LISTA DE PRODUCTOS EN EL CARRITO */
.carrito-items {
  margin: 1.5rem 0;
  max-height: 250px;
  overflow-y: auto;
}

.carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3e7df;
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.carrito-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #9c6a74;
  font-weight: 600;
}

.carrito-precio {
  color: #a28d8a;
  font-size: 0.95rem;
}

.cantidad {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-cant {
  background: #b9808a;
  color: #fff7f5;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cant:hover {
  background: #9c6a74;
}

/* TOTAL */
.carrito-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #b9808a;
}

/* FOOTER*/

.footer-inicio {
  background-color: #6e6765;
  margin-top: 200px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ÍCONOS DEL FOOTER */
.iconos-footer {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

/* ÍCONOS (IMÁGENES) */
.icono-red {
  width: 40px;
  height: 40px;
  transition: transform 0.25s ease, filter 0.25s ease;
  cursor: pointer;
}

/* HOVER REAL */
.icono-red:hover {
  transform: scale(1.25);
  filter: brightness(1.15);
}

.footer-copy {
  text-align: center;
  color: #fff7f5;
  font-size: 0.95rem;
  opacity: 0.9;
}

/* ===== MENÚ MOBILE ===== */
.menu-icono {
  display: block;
  font-size: 2.2rem;
  color: #94807d;
  cursor: pointer;
  margin-left: 10px;
}

/* Menú oculto */
.nav-mobile {
  display: none;
  flex-direction: column;
  background: #fff7f5;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #e7d0c3;
  z-index: 2000;
}

.nav-mobile a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #94807d;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-mobile a:hover {
  color: #b9808a;
}

@media (min-width: 768px) {
  .menu-icono {
    display: none;
  }

  .nav-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 380px;
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-desktop {
    display: flex;
  }

  .carrito-icono {
    order: 2;
  }

  .menu-icono {
    order: 0;
  }
}
/* FIX HEADER MOBILE */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* IMPORTANTE */
    padding: 0.8rem 1.2rem;
  }

  .navbar-left {
    flex: 1;
  }

  .carrito-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* separa del menú */
  }

  .menu-icono {
    margin-left: 10px; /* separa del carrito */
  }

  .material-symbols-outlined {
    font-size: 28px !important;
  }

  .carrito-notificacion {
    top: -3px;
    right: -3px;
  }
}
