* {
  box-sizing: border-box;
}

html{
  font-family: "Montserrat", sans-serif;
}


body {
    margin: 0;
    background-color: #F5E9F1;
}

header{
    display: flex;
    color: white;
    padding: 0 1rem;
    align-items: center;
    background-color: #CF8A8D;
    justify-content: space-between;
    

}

header h1 {
    flex: 1;
    margin: 0.5rem;
    font-weight: bold;
    text-align: center;    
}

.carrito-icono {
    order: 2;
}

.menu-icono {
    order: 0;
}

.Presentacion {
    margin: 2rem;
    padding: 1rem;
    color: #B06C7A;
    font-weight: bold;
    text-align: center;
    background-color: rgba(207, 138, 141, 0.2);
    border-radius: 3rem;
    
}

.Presentacion h2 {
    margin-bottom: 1.5rem;
    padding: 1rem 0 4rem 0;
}

.Presentacion p {
    line-height: 1.6; 
    max-width: 900px;    
    margin: 0 auto 1rem; 
    text-align: justify;  
    font-weight: normal;      
}

.Productos {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.Productos article {
    width: 300px;
    display: flex;
    padding: 1rem;
    font-weight: bold;
    min-height: 420px;
    border-radius: 1rem;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.Productos article img {
    width: 100%;
    height: 310px;
    display: block;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1rem;
    
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgb(0,0,0,0.6);
}

section article h2, section article p {
    margin: 1rem;
    text-align: center;
}

.Productos article button {
    background-color: #CF8A8D;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    margin: 1rem auto 0 auto;
    display: block;
}

.Productos article button:hover {
    background-color: #b06c7a;
    box-shadow: 0 2px 8px rgba(207, 138, 141, 0.3);
}

footer {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: #CF8A8D;
    color: white;
    padding: 0 1rem;
   
}
.Volver a{
    padding: 1rem;
    color: white;
    text-decoration: none;
    
}

.Volver a:hover{
    text-decoration: underline;
}